* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 52px;
}

img {
  max-width: 100%;
}

p {
  color: #333;
}
@media (max-width: 512px) {
  body,
  html {
    font-size: 87.5%;
  }
}
